/* Place your CSS styles in this file */


.navbar {
    background: white;
    height: 80px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.brand {
    display: flex;
    align-items: center;
    gap: 12px;
}

.brand img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-top: -20px;
}

.brand h2 {
    margin: 0;
    color: navy;
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 35px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: navy;
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ff5a36;
}

.btn-product {
    background: navy;
    color: white !important;
    padding: 12px 24px;
    border-radius: 15px;
    font-weight: 600;
}

h1 {
    text-align: left;
        font-family: "Source Sans Pro", sans-serif;
            font-weight: bold;
                color: white;
                }

                body {background-color: #041237;
                     
                            }

                            .p1 {text-align: left;
                                color:white;
                                    }

                                     ul {list-style-type: calc(); 
                                     
                                        }

                                       


                                        
